.page-inbox {
  ion-list-header {
    padding: 10px 16px 20px 16px;
    button[fab-right].button-icon-only {
      position: absolute;
      top: 0;
      border-radius: 100%;
    }

    button:active {
      border-width: 1px;
      border-style: solid;
      border-color: #387ef5;
    }
  }
}
