<ion-toolbar class="android-attr">
    <ion-title>
        Description
    </ion-title>
    <ion-buttons start>
        <button (click)="dismissModal()" clear *ngIf=" currentPlatform === 'ios' ">
            <span primary>Cancel</span>
        </button>
        <button (click)="dismissModal()" clear *ngIf=" currentPlatform === 'android' " style="color: #000; margin-right: 10px">
            <ion-icon name='close'></ion-icon>
        </button>
    </ion-buttons>
</ion-toolbar>

<ion-content class="has-header">

    <ion-list>
        <ion-item>
            <ion-avatar item-left>
                <img src="{{message.image}}">
            </ion-avatar>
            <h2>{{message.name}}</h2>
        </ion-item>

        <ion-card>
            <img src="images/sample-1.jpg">
            <ion-card-header>
                {{message.title}}
            </ion-card-header>

            <ion-card-content>
                {{message.message}}
            </ion-card-content>

        </ion-card>




    </ion-list>

</ion-content>